#name {
  font-family: fantasy;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  background-size: contain;
  margin-left: 35px;
  margin-right: 35px;
  padding: 5px 25px 0px 25px;
}

#red {
  border-radius: 0%;
  height: 70px;
  width: 70px;
  box-shadow: 2px 2px 2px black;
}

img:hover {
  transform: scale(1.2);
  transition: all .5s;
  }


.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  border: 3px solid blue;
  border-radius: 50%;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 2px black;
    color: #dc143c;
    font-family: fantasy;
  }

#main {
  font-family: fantasy;
  font-size: 20px;
  padding: 0px 35px 50px 35px;
}

header {
  background-color: #00ced1;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
}
